<!DOCTYPE html>
<html>
<head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>{{ page.title }} justlinux2010's BLOG</title>
        <meta name="keywords" content="{{  page.keywords }}justlinux2010,justlinux2010,blog,logs,博客"/>
        <meta name="description" content="justlinux2010's BLOG，记录学习和工作生活" />
		<!--<meta name="baidu-site-verification" content="7P3zJDwukPDw2LOy" />-->
        <link href="{{ site:url }}/css/common.css" rel="stylesheet" type="text/css" />
        <link href="{{ site:url }}/css/pygments.css" rel="stylesheet" type="text/css" />
        <link href="/prettify/prettify.css" rel="stylesheet" type="text/css" />
        <link rel="shortcut icon" href="/favicon.ico"/>
		<link rel="bookmark" href="/favicon.ico"/>
		<script type="text/javascript" src="/jquery.js"></script>
		<script type="text/javascript" src="/prettify/prettify.js"></script>
</head>
<body>
        <div class="wrap">
		<div class="header radius black">
			<h2><a href="{{ site:url  }}">justlinux2010's BLOG</a></h2>
            <span class="right">
                
            </span>
		</div>
